__pycache__/
.pytest_cache
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.sqlite
*.egg-info/
dist/
build/
.eggs/
*.egg
*.env
*.venv
.idea/
.vscode/
*.swp
*.swo
coverage/
htmlcov/
.tox/
.nox/
.coverage
bin/
data/
.tools/
.tools.nosync/
site/
_site/
